<h1>New jobtype</h1>

<% form_for(@jobtype) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :job_type %><br />
    <%= f.text_field :job_type %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', jobtypes_path %>