
<h1><span class="green">职位</span>详细</h1><br />
<div id="job_content">
  <ul id="productlist">
     <li>
       职位名称:<%= @job.jname%>
     </li>
     <li>
       职位简介:<%= @job.jdesc%>
     </li>
     <li>
       招聘时间:<%= @job.created_date%>
     </li>
     <li>
       截止时间:<%= @job.closed_date%>
     </li>
     <li>
       职位类型:<%= @job.position_type%>
     </li>
     <li>
       岗位要求:<%= @job.education%>
     </li>
     <li>
       最低月薪:<%= @job.education%>
     </li>
     <li>
       学历要求:<%= @job.education%>
     </li>
  </ul>
</div>
 <img src="images/bullet.png" alt="" width="10" height="10" /><%= link_to "我要应聘", :action => "index"%>
<div ><%= link_to "应聘", :action => "index"%></div>


 <div class="FBG">
    <div class="FBG_resize">
      <div class="blooga">
        <h2>Why Choose Us?</h2>
        <img src="/images/product1.gif" alt="picture" width="61" height="61" />
        <p><strong>Many desktop publishing </strong><br />
          packages and web page editors now use <br />
          Lorem Ipsum [...] </p>
        <div class="bg"></div>
        <img src="/images/product1.gif" alt="picture" width="61" height="61" />
        <p><strong>Many desktop publishing </strong><br />
          packages and web page editors now use <br />
          Lorem Ipsum [...] </p>
        <div class="bg"></div>
        <img src="/images/product1.gif" alt="picture" width="61" height="61" />
        <p><strong>Many desktop publishing </strong><br />
          packages and web page editors now use <br />
          Lorem Ipsum [...] </p>
      </div>
      <div class="blooga">
        <h2>Clients saying</h2>
        <div class="clients">
          <p style="padding:15px 0 0 15px;">&quot;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <p><strong style="float:right;">-John Smith, webdesigner</strong></p>
          <p>&nbsp;</p>
        </div>
        <div class="clients">
          <p style="padding:15px 0 0 15px;">&quot;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <p><strong style="float:right;">-John Smith, webdesigner</strong></p>
        </div>
      </div>
      <div class="blooga">
        <h2>Quick contact</h2>
        <p>Feel free to contact me or please fill up below in the following details and I will be in touch shortly.</p>
        <p><span><strong>Address:</strong></span> 1458 Sample Road, Greenvalley, 12<br />
          <span> <strong>Telephone:</strong></span> +123-1234-5678<br />
          <span> <strong>FAX:</strong></span> +458-4578<br />
          <span> <strong>Others:</strong></span> +301 - 0125 - 01258<br />
          <span> <strong>E-mail:</strong></span> mail@yoursitename.com</p>
      </div>
    </div>
    <div class="clr"></div>
  </div>
</div>
