
<h1><span class="green">职位</span>详细</h1><br />
<div id="job_content">
  <ul id="productlist">
     <li>
       职位名称:<%= @job.jname%><div id="job_right">招聘人数：<%= @job.job_number%> </div>
     </li>
     <li>
       最低月薪:<%= @job.salary%><div id="job_right">已招聘人数：0</div>
     </li>
     <li>
       招聘时间:<%= @job.created_date%><div id="job_right">职位类型:<%= @job.position_type%></div>
     </li>
     <li>
       截止时间:<%= @job.closed_date%><div id="job_right">学历要求:<%= @job.education%></div>
     </li>
     <li>
       岗位要求:<%= @job.requirement%>
     </li>
     <li>
       职位简介:<%= @job.jdesc%>
     </li>
  </ul>
</div>
<br />
<div id="job_right"> <img src="/home/shao/webSite1/public/images/email.gif" alt="" width="20" height="20" /><font size=5><%= link_to "我要应聘", :action => "show_group", :id => @job.id %></font></div>


 <div class="FBG">
    <div class="FBG_resize">
      <div class="blooga">
        <h2><span class='green'>为什么选择我们?</span></h2>
        <img src="/images/product1.gif" alt="picture" width="61" height="61" />
        <p><strong>专用ruby开发</strong><br />
          已经用ruby on rails开发过2个项目 </p>
        <div class="bg"></div>
        <img src="/images/product1.gif" alt="picture" width="61" height="61" />
        <p><strong>极高的自信 </strong><br />
          做为学生军，我们没有什么输不起 </p>
        <div class="bg"></div>
        <img src="/images/product1.gif" alt="picture" width="61" height="61" />
        <p><strong>负责的态度 </strong><br />
          极力负责每一件事 </p>
      </div>
      <div class="blooga">
        <h2><span class='green'>用过的客户都说..</span></h2>
        <div class="clients">
          <p style="padding:15px 0 0 15px;">&quot;产品还不错，有创新意识，可以加以改造. </p>
          <p><strong style="float:right;">-John Smith, webdesigner</strong></p>
          <p>&nbsp;</p>
        </div>
        <div class="clients">
          <p style="padding:15px 0 0 15px;">&quot;pretty good , strong indepences and high confidence. </p>
          <p><strong style="float:right;">-John Smith, webdesigner</strong></p>
        </div>
      </div>
      <div class="blooga">
        <h2><span class='green'>快速联系我们</span></h2>
        <p>快速联系我们，我们将在最快的时间内回应你的答复.</p>
        <p><span><strong>Address:</strong></span> 惠州学院2栋A6<br />
          <span> <strong>Telephone:</strong></span> 15820707426<br />
          <span> <strong>FAX:</strong></span> +458-4578<br />
          <span> <strong>Others:</strong></span> QQ:505124021<br />
          <span> <strong>E-mail:</strong></span> shaorui23@gmail.com</p>
      </div>
    </div>
    <div class="clr"></div>
  </div>
</div>
