
<ul id="productlist">
<h1><span class="green">职位</span>列表</h1>
<div id="content">
<li><img src="images/product1.gif" alt="" width="101" height="97" class="productimage" />
<% form_for @search do |f| %>
  <p>
    <%= f.label :jname_like, "职位:" %>
    <%= f.text_field :jname_like, :size => 10 %><br />
    <%= f.label :jobtype_id_equals, "类型:" %>
    <%= f.collection_select :jobtype_id_equals, Jobtype.all, :id, :job_type,:include_blank => true%><br />
    <%= f.label :job_number_gte, "人数:" %>
    <%= f.text_field :job_number_gte, :size => 10%><br />
    <%= f.label :salary_gte, "月薪:" %>
    <%= f.text_field :salary_gte, :size => 10%><br />
    <%= f.label :education_like, "要求:" %>
    <%= f.text_field :education_like, :size => 10%>
    <%= f.submit "提交查询" %>
    <!%= f.label :experience_like, "经验要求:" %>
    <!%= f.text_field :experience_like%>
  </p>
  <p>
  </p>
<% end %>
</div>
</li>
<li>
<div id="content">
<table class="servicesT" cellspacing="0">

<tr>
  <th>职位名称</th>
  <th>简介</th>
  <th>开始日期</th>
  <th>截止日期</th>
  <th>职业类型</th>
  <th>招聘人数</th>
  <th>已招人数</th>
  <th>最低月薪</th>
  <th>学历要求</th>
  <th>经验要求</th>
  <th></th>
</tr>
<% @jobs.each do |job| %>
  <tr>
    <td width=70><%= h job.jname %></td>
    <td width=150><%= h (truncate(job.jdesc, 30)) %></td>
    <td><%= h job.created_date %></td>
    <td><%= h job.closed_date %></td>
    <td width=70><%= h job.position_type %></td>
    <td width=70><%= h job.job_number %></td>
    <td></td>
    <td width=70><%= h job.salary %>元</td>
    <td width=70><%= h job.education %></td>
    <td width=70><%= h job.experience %></td>
    <td><%= link_to "查看详细", :action => "get_job", :id => job.id %></td>
  </tr> 
<% end %>
</table>
<br />
</div>
<div id="paixu">
  按选择排序结果:
  <%= order @search, :by => :jname, :as => "名称" %> |
  <%= order @search, :by => :job_number, :as => "招聘人数"%> |
  <%= order @search, :by => :salary, :as => "月薪"%> 
</div>
<div id="fenye"><%= will_paginate @jobs, :prev_label => "上一页", :next_label => "下一页" %></div>
</li>
<h1><span class="green">职位</span>介绍</h1>
 <li><img src="images/product2.gif" alt="" width="101" height="97" class="productimage" />
            <h3>职业经理人</h3>
            <p>一般认为将经营管理工作作为长期职业，具备一定职业素质和职业能力，并掌握企业经营权的群体就是职业经理人。

宽泛来讲，职业经理人横向看是分类的，财会、生产管理、技术；纵向看也是分层次的，企业需要各种层次的职业经理人。比如第一个层次是能工巧匠型的；第二个层次是元帅型的，在一个领域中可以带领一帮人来完成一个特定项目；最后一个层面则是老师型的，必须有系统的思考，所以说是很宽泛的。

通俗来讲，职业经理人就是凭能力凭业绩吃饭的人，但不是凭资本吃饭的人，换言之他们是凭人力资本吃饭的人，而不是凭货币资本吃饭的人... <br />
              <img src="images/bullet.png" alt="" width="10" height="10" /> <a href="http://zhidao.baidu.com/question/13570312">Read More</a></p>
              <!%= render "jobs/get_job"%>
 </li>
</ul>
