					<td align="center" valign="top">
            <table bgcolor="#cccccc" border="0" cellpadding="0" cellspacing="1" width="100%">
							<tbody><tr>
								<td align="center" bgcolor="#ffffff" height="18">
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tbody>
                      <tr>
											  <td width="5%"><img src="../images/icon_service.gif" height="21" width="24"></td>
											  <td  height="30" width="100%">
												  <table border="0" cellpadding="0" cellspacing="0" width="100%">
													  <tbody>
                              <tr>
														    <td width="20%">
                                  <font color="red"><%=  flash[:notice].nil?? current_user.login + ' 您好，填写或修改个人资料' : flash[:notice]  %></font>
                                </td>
													    </tr>
												    </tbody>
                          </table>
											  </td>
										  </tr>
										<tr bgcolor="#585858">
											<td bgcolor="#585858" height="3"></td>
											<td bgcolor="#585858" height="3"></td>
										</tr>
										<tr>
											<td>&nbsp;</td>
											<td>&nbsp;</td>
										</tr>
										<tr>
											<td>&nbsp;</td>
											<td>
												<table align="center" border="0" cellpadding="0" cellspacing="8" width="60%">
													<tbody><tr>
														<td colspan="4" align="center">
															<table border="0" cellpadding="0" cellspacing="0" width="100%">
																<tbody><tr bgcolor="#ffffff">
																	<td background="../images/dot_line_1.gif" height="10" valign="top"></td>
																</tr>
															</tbody></table>
														</td>
													</tr>
													<tr>
														<td colspan="4">
															<!--SignOn-->
															<table border="0" cellpadding="0" cellspacing="10" width="100%">
																<tbody><tr>
                                  <% form_for :resume_ans, @resume_ans, :controller => "persons", :action => "create" do |f| -%>
																	<td align="center" width="20%"><img src="../images/bul_or_tri1.gif" height="7" width="4"></td>
                                  <div align="center" font-color="red">
                                    <% if flash[:error] %>
                                      <font color="red"><%= flash[:error] %></font>
                                    <% end %>
                                  </div>
                                    <td width="26%"><label for="login"><%= @resume.rname%></label></td>
                                    <td ><%= f.text_field :rname_a %></td>
																</tr>
																<tr>
																	<td align="center"><img src="../images/bul_or_tri1.gif" height="7" width="4"></td>
                                  <td width="26%"><label for="email"><%= @resume.riden %></label></td>
                                  <td ><%= f.text_field :riden_a %></td>
																</tr>
																<tr>
																	<td align="center"><img src="../images/bul_or_tri1.gif" height="7" width="4"></td>
                                  <td><label for="password"><%= @resume.rpho %></label></td>
                                  <td><%= f.text_field :rpho_a %></td>
																</tr>
																<tr>
																	<td align="center"></td>
                                  <td><label for="password_confirmation"><%= @resume.rsex %></label></td>
                                  <td><%= f.select :rsex_a, %w{ 男 女 } %></td>
																</tr>
																	<td align="center"></td>
                                <tr>
																	<td align="center"></td>
                                  <td><label for="password_confirmation"><%= @resume.redu %></label></td>
                                  <td><%= f.text_field :redu_a %></td>
																</tr>
                                <tr>
																	<td align="center"></td>
                                  <td><label for="password_confirmation"><%= @resume.rprof %></label></td>
                                  <td><%= f.text_field :rprof_a %></td>
																</tr>
                                <tr>
																	<td align="center"></td>
                                  <td><label for="password_confirmation"><%= @resume.rbirth %></label></td>
                                  <td><%= f.date_select :rbirth_a, :start_year => 1980,:end_year => 2000  %></td>
																</tr>
                                <tr>
																	<td align="center"></td>
                                  <td><label for="password_confirmation"><%= @resume.raddr %></label></td>
                                  <td><%= f.text_field :raddr_a %></td>
																</tr>
                                <tr>
																	<td align="center"></td>
                                  <td><label for="password_confirmation"><%= @resume.reva %></label></td>
                                   <td><%= f.text_area :reva_a %></td></div>
																</tr>
                                
                                <tr>
                                  <td></td>
                                  <td><div id="btn"><%= button_to"提交"  %></td>
                                </tr>
                                <%end%>
															</tbody></table>
														</td>
													</tr>
													<tr>
														<td colspan="2" align="center">
															<table border="0" cellpadding="0" cellspacing="0" width="100%">
																<tbody><tr bgcolor="#ffffff">
																	<td background="../images/dot_line_1.gif" height="10" valign="top"></td>
																</tr>
															</tbody></table>
														</td>
													</tr>
												</tbody></table>
											</td>
										</tr>
									</tbody></table>
								</td>
							</tr>
						</tbody></table>
					</td>
