<div id="content">
      <div id="homeleft">
        <h2>把握 <span class="green">跳槽</span></h2>
        <p>秋去冬来，职场上又一年的“金9银10”招聘高峰季渐趋渐于平静。在这一年一度的人才流动旺季过后，你是继续坚守原有的岗位上，还是已经另投他主了呢？日前的一项有6000余人参与在线调查显示，有8成的参与者都表示自己当季有跳槽的意愿！

    当有大把的跳槽机会出现在眼前，一些本就围绕着职场人的负面因素又被放大了：求职意向本就不明晰、薪资福利不甚理想、职业发展陷入瓶颈、和同事上司的关系不和……这一切都促使着职场人加入跳槽大军。但俗话说“决定容易行动难”。你现下的状态真的适合跳槽吗？跳槽时，该怎么预估可能的风险？万一“跳空”后，又该怎么办呢？<img src="../images/bullet.png" alt="" width="10" height="10" /> <a href="http://arts.51job.com/arts/05/380805.html">Read More </a></p>
        <h2>专业不对口<span class="green">大学生</span>怎么办</h2>
        <p> 近日，中国职业规划师协会联合向阳生涯职业咨询机构，对京、沪两地2011届应届毕业生进行了一次“你知道自己毕业后要干什么吗”的职前调查。在参加调查的176位大学生中，高达79%的大学生选择“不知道/没想过”，有16%的大学生表示“有一些想法，但不清晰”，仅有5%的大学生明确表示“自己清楚地知道毕业后要干什么”。 <img src="../images/bullet.png" alt="" width="10" height="10" /> <a href="http://arts.51job.com/arts/05/380349.html">Read More </a></p>
        <p>&nbsp;</p>
      </div>

      <div id="homeright">
        <h2> 最近公示 <span class="green">职位</span></h2>
        <div class="column1"> <img src="../images/img1.gif" alt="" />
          <h3><%= @jobs.slice(0).jname%></h3>
          <p><%= @jobs.slice(0).jdesc%></p>
          <img src="../images/bullet.png" alt="" width="10" height="10" /> <a href="/jobs/<%=@jobs.slice(0).id%>/get_job" >Read More </a>
          <p>&nbsp;</p>
        </div>
        <div class="column2"> <img src="../images/img2.gif" alt="" width="129" height="84" />
          <h3><%= @jobs.slice(1).jname%></h3>
          <p><%= @jobs.slice(1).jdesc%></p>
          <img src="../images/bullet.png" alt="" width="10" height="10" /> <a href="/jobs/<%=@jobs.slice(1).id%>/get_job">Read More </a>
          <p>&nbsp;</p>
        </div>
        <div class="column3"> <img src="../images/img3.gif" alt="" />
          <h3><%= @jobs.slice(2).jname%></h3>
          <p><%= @jobs.slice(1).jdesc%></p>
          <img src="../images/bullet.png" alt="" width="10" height="10" /> <a href="/jobs/<%=@jobs.slice(2).id%>/get_job">Read More </a>
          <p>&nbsp;</p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
