  <div class="main">
    <div class="left">
      <div class="banner">
        <div align="center">
          <DIV id=nav>
            <UL>
              <LI><IMG src="../images/01.jpg" text="良好的沟通是人才必备的基础素质|Wando团队" pic="1">
                <DIV>Wando团队</DIV>
              </LI>
              <LI><IMG src="../images/02.jpg" text="优秀人才是团队必不可少的|Wando团队" pic="2">
                <DIV>Wando团队</DIV>
              </LI>
              <LI><IMG src="../images/03.jpg" text="Wando工作环境|Wando团队" pic="3">
                <DIV>Wando团队</DIV>
              </LI>
              <LI><IMG src="../images/04.jpg" text="Wando实验室|Wando团队" pic="4">
                <DIV>Wando团队</DIV>
              </LI>
              <LI><IMG src="../images/05.jpg" text="Wando产品|Wando团队" pic="5">
                <DIV>Wando团队</DIV>
              </LI>
            </UL>
            <DIV id=BG></DIV>
            <DIV id=mask></DIV>
            <DIV id=back><IMG height=255 src="" width=685></DIV>
          </DIV>
          <p>
            <SCRIPT type=text/javascript>
 <!--
 var num = 0;
 $("#nav").hide();
	$("li img").load(function(){
		num++;
		if (num==4)
		{
			$("#nav").show();
		}
	})
		.click(function(){
		
		//如果已经处于active状态，return
		if (this.className.indexOf("active")!=-1) return;
		
		//正文文字渐隐
		$("#frontText").fadeOut();
		$("#frontTextBack").fadeOut();
		$("#frontTextSub").fadeOut();

		//active状态的图片恢复原样
		$("li img.active").fadeTo(200,0.6)
		.removeClass("active")
		.animate({top:5,width:70,left:1},300)
		.parent().css({"color":"#aaa"});  //
		
		//获取数据
		var i = $(this).attr("pic");
		var t = $(this).attr("text").split("|");
		
		//当前
		$(this).animate({top:-5,width:70,height:40,left:1},100)
		.addClass("active")
		.fadeTo(200,1)
		.parent().css({"color":"white"});

		$("#back").children().addClass("gray").end()
					.fadeTo(500,0.1,function(){
										//var IMG = new Image();
										//IMG.s
										$(this).children("img").attr("src","../images/"+i+".jpg").removeClass("gray");	  //更改图片
										$(this).fadeTo(500,1,function(){
																$("#frontText").html(t[0]).fadeIn(200);	//更改正文文字
																$("#frontTextBack").html(t[0]).fadeIn(200);	//阴影文字
																$("#frontTextSub").html(t[1]).fadeIn(200)}	//副标题
																);
										})
		})

	//初始第一张图片
	
	var i =3;

	show();

	function show(){
		if (i==$("li img").size()) i = 0
		$("li img").eq(i).click();
		i++;
		//setTimeout(show(),1000);
	}

	document.oncontextmenu   =  function(e){return false}
	
	if (self.location.search!=""){
		var V = self.location.search;
		V = V.substr(1,V.length);
		eval(V);
		var json ="{";
		if (option.skin==0)
			$("#mask").hide();
		if (option.animate == 0){
		$("#nav ul").hide();
		}
		$("#nav").width(option.width?option.width:685);
		$("#nav").height(option.height?option.height:255);
		$("#back img").width($("#nav").width());
		$("#back img").height($("#nav").height());
		$(self.parent.document.getElementById("splash")).children().height($("#nav").height()).width($("#nav").width());
	}
		
 //-->
  </SCRIPT>
            <!-- 焦点图切换结束-->
        </div>
      </div>
      <div class="zaixian" style="margin-top:269px;">
        <div class="title_top">
          <div class="title">近期公布职位</div>
          <a href="#"><img src="../images/more2.gif" border="0"></a>
          <div class="clear"></div>
        </div>
        <div class="zaixian_nr">
          <ul>
            <%if @jobs.blank?%>
              <li><%= flash[:jobs]%></li>
            <%else%>
              <% @jobs.each do|j| %>
                <li><span>职位:</span><%= j.jname%>，职位类型：<%= j.position_type %>，招聘人数：<%= j.job_number%></li>
              <% end %>
            <%end%>
          </ul>
        </div>
      </div>
      <div class="jianjie" style="margin-top:269px;">
        <div class="title_top">
          <div class="title">Wando团队简介</div>
          <a href=""><img src="../images/more2.gif" border="0"></a>
          <div class="clear"></div>
        </div>
        <div class="jianjie_nr">
          <div class="xuxian_bottom" style="padding:16px 0;">
            <span><b>建队理念:</b>
              Wando建队的目的是补足学生在校四年比较难以接触到的项目计划、需求分析、实施部署等软件工程环节，使学生在完成学业之前对现实社会有所了解... 
            </span>
            <div class="clear"></div>
          </div>
          <div style=" margin-top:6px;"> 
            <b>团队精神:</b>
              我们相互分享，相互促进。有合作，有竞争，团结一致，开拓创新...
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>

    <div class="right">
      <% form_tag :controller => "account", :action => "login" do -%>
        <div class="yewulingyu"><span style="float:left;">用户登录</span></div>
         <% if flash[:notice] %>
           <span id = "notice">
             <font><%= flash[:notice] %></font>
           </span>
         <% end %>
        <div class="lingyu_nr">
          <div id="user">用 户
            <%= text_field_tag 'login' %>
          </div>
			    <div id="password">密   码
            <%= password_field_tag 'password' %>
			    </div>
			    <div id="btn">
            <%= submit_tag '登录' %>
      <% end %>
            <%= link_to '退出', :controller => "account", :action => "logout" %>
            <%= link_to '注册', :controller => "account", :action => "signup" %>
         </div>
    </div>

        <div class="tu_1"><img src="../images/tu_1.gif" border="0"> </div>
        <div class="youqing">
         <div class="youqinglianjie">友情链接</div>
         <div class="youqinglianjie_2">
           <select name="select" class="search" id="selectd_fo" onchange="select_change_to()">
             <option value="auction" selected="selected">-------------友情链接------------</option>
             <option value="wando">Wando网站主页</option>
             <option value="mouse-home">Mouse-Home</option>
             <option value="google">Google</option>
           </select>
          </div>
        </div>
        <div class="tu_1"><img src="../images/tu_2.gif" width="295" height="51" border="0"></div>
        <div class="dongtai">
          <div class="dongtai_top_left">网站动态</div>
         <div class="dongtai_top_right"><a href="#"><img src="../images/more2.gif" border="0"></a></div>
         <div class="clear"></div>
         <div class="dongtai_nr"> <a href="">我们的最新产品..</a><br>
           <a href="">团队获得的最近成绩..</a><br>
           <a href="">团队新一轮的招新资讯..</a>
         </div>
        </div>
      </div>

