<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Wando 团队招牌服务网</title>
<%= stylesheet_link_tag 'css.css' %>
<%= stylesheet_link_tag 'css2.css' %>
</head>
<%= javascript_include_tag 'jquery-1[1].2.1.pack.js' %>
<%= javascript_include_tag 'muen.js' %>

<body>
<div class="juzhong">
  <div class="top">
    <div class="top_top"><span style="float:left; margin-left:14px;">欢迎访问某律师团队专业法律服务网！ 建站咨询热线: 15886674344</span><span style="float:right; margin-right:6px;">今天是: 2008.10.22. 星期三</span>
      <div class="clear"></div>
    </div>
    <div class="logo_bg"><img src="images/logo.jpg" style="float:left; margin:18px 0 0 25px;"><img src="images/logo_bg2.gif" width="502" height="100"  style=" float:right;">
      <div class="clear"></div>
    </div>
    <div class="muen">
      <div class="subnav">
        <ul id="nuw">
          <li class="one"><a href="index.html">&nbsp;&nbsp;&nbsp;&nbsp;首页</a></li>
          <li  class="one"><a href="lvshijieshao.html">关于我们</a>
            <ul>
              <li><a href="lvshijieshao.html">律师介绍</a></li>
              <li><a href="lvsuojieshao.html">律所介绍</a></li>
              <li><a href="shoufeibiaozhun.html">收费标准</a></li>
            </ul>
          </li>
          <li class="one"><a href="jiaonidaguanshi.html">法律服务</a>
            <ul>
              <li><a href="jiaonidaguanshi.html">教您打官司</a></li>
              <li><a href="http://www.865171.cn">请律师指南</a></li>
              <li><a href="http://www.865171.cn">法律援助</a></li>
            </ul>
          </li>
          <li class="one"><a href="xingfa.html">法律文书</a>
            <ul>
              <li><a href="xingfa.html">刑法专栏</a></li>
              <li><a href="http://www.865171.cn">公司法专栏</a></li>
              <li><a href="http://www.865171.cn">婚姻法专栏</a></li>
              <li><a href="http://www.865171.cn">民商法专栏</a></li>
              <li><a href="http://www.865171.cn">房地产法专栏</a></li>
              <li><a href="http://www.865171.cn">知识产权专栏</a></li>
            </ul>
          </li>
          <li  class="one"><a href="anlie.html">经典案例</a>
            <ul>
              <li><a href="http://www.865171.cn">我们的法律服务好在哪里</a></li>
              <li><a href="anlie.html">经典案例</a></li>
              <li><a href="http://www.865171.cn">案例详解</a></li>
            </ul>
          </li>
          <li  class="one"><a href="zaixianfalv.html">在线服务</a>
            <ul>
              <li><a href="zaixianfalv.html">在线法律咨询</a></li>
              <li><a href="http://www.865171.cn">办案进度查询</a></li>
            </ul>
          </li>
          <li class="one"><a href="manage" style="background-image: none;">后台管理</a></li>
        </ul>
      </div>
      <div class="sousuo">
        <input name="" type="text"  class="input" value="站内搜索">
        <input name="Submit" type="image" id="Submit" value="提交" src="images/fangda.gif" style="float:left; margin:0 8px;">
        <select name="" class="select">
          <option>中文版</option>
          <option>英文版</option>
        </select>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div><%= yield %></div>
   <div class="clear"></div>
 </div>
 <div class="bottom">
   <div class="bottom_left"> <a href="http://www.865171.cn">联系我们</a> | <a href="http://www.865171.cn">在线咨询</a> | <a href="http://www.865171.cn">网站地图</a> | <a href="http://www.865171.cn">官方博客</a> | <a href="http://www.865171.cn">隐私声明</a> </div>
    <div class="bottom_right"> 地址：中国上海 邮政编码：200000 　沪ICP备案号00000000号 　</div>
  </div>
</div>
</body>
</html>

